<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_header %>

  <title>TinyApp</title>
</head>
<body>

  <table>
    <tbody>
      <tr>
        <td>
            <% for (url in urls) { %>
          <form method="POST" action="/urls/<%=url %>/delete">
            <input type="submit" value="Delete">
          </form>
        </td>
      </tr>
    </tbody>
  </table>
  <form action="/urls/<%= url %>" method="POST">
    <label for="longURL">Edit Long URL:</label>
    <input id="longURL" type="url" name="longURL" placeholder="<%= urls[shortUrl].longURL %>">
    <input type="submit" value="Edit">
  </form>
  <% }; %>
</body>
</html>