<!DOCTYPE html> 
<html lang="en">
<head>
    <title>TinyApp</title>
</head>
<body>
    <table>
    <% for (url in urls) { %>
    <form method="POST" action="/urls/<%= url %>/delete">
        <%= url %> - <%= urls[url]%>
        <input type="submit" value="Remove URL">
    </form> <br/>
    <% }; %>
    </table>
</body>
</html>