<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/_header %>
  <title>TinyApp</title>
</head>
<body>
  <% if (userID) { %>
  <form action="/urls_new" method="POST">
    <label for="longURL">Long URL</label>
    <input id="longURL" type="text" name="longURL" placeholder="http://">
    <input type="submit" value="Shorten">
  </form>
  <% } else { %>
  <hr>
  <h2>Error 400</h2>
  <h3>You must be logged in to access the Database.</h3>
  <% } %>
</body>
</html>