<!DOCTYPE html>
<head>
    <title>TinyApp</title>
</head>
<body>
    <h3>
        Update Your URLs Database
    </h3>
    <form method="POST" action="/urls/<%= shortURL %>">
    <input type="text" name="editURL" placeholder="http://" style="width: 300px">
    <input type="submit" value="Update">
    </form>
</body>